
@charset "utf-8";
/* CSS Document */

body{
margin: 0;
padding: 0;
background-color:#272423;}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

::selection {
	background: #272423;
	color:#FFF;/* Safari */
	}
::-moz-selection {
	background: #272423;
	color:#FFF;/* Firefox */
}
p{
font-family: 'Raleway', sans-serif;
font-size: 18px;
color:#5c5c5c;
margin-top: 20px;
}
.location{
color:#333;
margin-top:10px;
font-size: 16px;
text-align:left;
}

.sponsor{
color:#da4b3f;
margin-top:10px;
}

a {
	color: #999;
	text-decoration:none;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  font-weight:600;
}
a:hover {
	color: #da4b3f;
}

img{
border: 0;
}

h1.red{
font-family: 'Raleway', sans-serif;
font-weight:700;
color:#da4b3f;
font-size:36;
}

h2{
font-family:"Beau Sans Pro Book", Verdana, sans-serif;
font-size-adjust:0.531;
font-weight:500;
font-style:normal;
}

#header h1, #pixels{
color: #48941A;
}

.float-left{
float: left;
margin: 0 0 0 20px;
}

.float-right{
float: right;
margin: 0 20px 0 0;
}

.center{
padding: 50px 0 0 0;
text-align: center;
}

.center2{
padding: 30px 0 0 0;
text-align: center;
}


.xtrahigh{
padding-top:140px;
height: 900px;
}

#nav{
list-style: none;
}

#nav li{
margin: 0 0 15px 0;
}

#header, #intro, #second, #next{
width: 100%;
}

#intro{
background:url(../images/firstBG.jpg) 50% 0px no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
height: 600px;
margin: 0 auto;
padding: 0;
}

#next{
margin-top:-100px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
height: 100px;
overflow: hidden;
padding: 0;
}

.nextmeeting{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

#second{
background:url(../images/clean_textile.png) repeat;
color: white;
height: 1000px;
margin: 0 auto;
overflow: hidden;
padding: 0;
}


@media (min-width: 769px) {

#second{
height: 500px !important;
}

#fourth{
height: 500px !important;
}

}

#third{
background: url(../images/dagstuhl2.jpg) 50% 0 no-repeat fixed;
background-size:cover;
color: white;
height: 600px;
padding: 100px 0 0 0;
overflow: hidden;
}

#fourth, #sixth{
background:url(../images/clean_textile.png) repeat;
background-size:cover;
color: white;
height: 1000px;
margin: 0 auto;
overflow: hidden;
padding: 0;
}
#fifth, #seventh{
background:url(../images/dagstuhl.jpg) 50% 0% no-repeat fixed;
background-size:cover;
height: 600px;
overflow: hidden;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#eighth{
background:url(../images/clean_textile.png) repeat;
background-size:cover;
color: white;
margin: 0 auto;
overflow: hidden;
padding: 0;
}

@media only screen and (max-width: 768px) {
    #second, #fourth {
      height: 750px !important;
    }
}

@media only screen and (max-width: 640px) {
    #second {
      height: 750px !important;
    }
    #fourth {
      height: 850px !important;
      background-position: 50% 500pt, center;
      margin-bottom: 150px;
    }
    #sixth {
    }
    #third {
        background-image: url(../images/dagstuhl2.jpg);
        height: 400px;
    }
    #fifth {
        background-image: url(../images/dagstuhl.jpg);
        height: 400px;
        margin-top: -150px;
    }
}

#footer {
	background-color:#272423;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 40px;
	text-align:center;
}

.story{
margin: 0 auto;
overflow: auto;
}

.img-tall{
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.img-wedding{
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img-wedding2{
    max-height: 125px;
    margin-left: auto;
    margin-right: auto;
}


.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 40px;
}

.img-center-flush{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mobile body {
  overflow: hidden;
}

.mobile #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobile #scroller {
  height: 3000px;
}
